main article .image-container {
    max-width: 100%; 
    text-align: center; 
    border-radius: 200px; 
    overflow: hidden; 
  }
  
main article .article-image {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto;
  }
body{
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
    color: gray;
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 100px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
main article{
    margin: 0 auto;
}
main article h1{
    text-decoration: underline;
    font-weight: bold;
    color: black;
    font-size: 48px;
}
main article p{
    font-size: 30px;
}
main article span{
    font-size: 35px;
    font-weight: bold;
	background: linear-gradient(90deg, #1866d3,#199ca8,#097c24,#5517c0);
	background-size: 400%;
	letter-spacing: 10px;
	word-spacing: 5px;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	animation: animate 10s linear infinite;
}
@keyframes animate {
	0% {
		background-position: 0%;
	}

	100% {
		background-position: 400%;
	}
}

nav {
    margin-left: 8px;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 20px; 
    text-decoration: none;
    display: flex;
    align-items: center; 
    color: black;
}
footer{
    font-size: 10px;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: gray;
}
