@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%; 
    }
}
@media (min-width: 800px){
    .menusvg{
        display: none;
    }
}